*.aux
*.log
*.synctex.gz
*.dvi
*.bbl
*.blg
*.fdb_latexmk
*.thm
*.toc
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.fls

*.glo
*.glsdefs
*.ist
gitHeadInfo.gin

*.acn
*.glg
*.gls

mbasic\.fdb_latexmk
mbasic\.fls

implementation/basic/ImplementationInCoq.log
