*.aux
*.log
*.synctex.gz
*.pdf
*.bbl
*.blg
IntroductionToCoq.thm
IntroductionToCoq.toc
IntroductionToCoq.bbl
IntroductionToCoq.blg
IntroductionToCoq.idx
IntroductionToCoq.tex.new
IntroductionToCoq.thm
IntroductionToCoq.toc

gitHeadInfo.gin

mbasic\.fdb_latexmk
mbasic\.fls
